h2, h3, h4, h5, p1, p2, 		{ margin: .2em 0 }


h1, h2, h3, h6, h4, h5, p6		{font-family:  verdana,sans-serif,  }

div.a {line-height: 1.6;}

p3, p.b, h1, h2, h4, b, strong, i, em, u, cite, var, tt, code, kbd, samp, img, span, table, object	{display: inline;}


h1, h3, h4, b, h5, p6	{font-weight: bolder} 

p, h2 {font-weight: 500;}


	
h1,  h3, h4, h5, h6  		{color:#353535}
p, ul, h2, body, td, ul, ol	{color:#424242}


h1			{font-size:1.4rem;}
h5			{font-size:21px;}
h4			{font-size:1.4rem;}
h3 			{font-size:1.4rem;}
h2 			{font-size:1.4rem;}
p, p.b 	 	                {font-size:1.4rem;}
/*
ul, span, td, body		{font-size:1.4rem;}				
*/
p, ul, ol,    		{font-family: "georgia";}
p6			{font-size:1.4rem; color:#a52101; }
p7			{font-size:1.4rem; color:#521000; }

/* ++++++++++++++++++ Text Size Test ++++++++++++++++++++++ */
ul, span, td		{font-size: 22px;}


/* +++++++++++++  Text Shadow +++++++++++++++++++++ */

p1 	{ text-shadow: 1px 1px #d4af37; font-size:1.2em; color:#000000; font-weight: 600;}		
p2	{ text-shadow: 2px 1px 1px #000000, 0 0 1em #c0c0c0, 0 0 0.2em #c0c0c0; font-size:1.3em; color:#000000; }
p3	{ text-shadow: 1px 1px 1px #003bde, 0 0 1em #d4af37, 0 0 0.2em #d4af37; font-size:1.3em; color:#000000; }
p4	{ text-shadow:	0 2px 0 #999, 
			0 3px 0 #888, 
			0 4px 0 #777, 
			0 5px 0 #555, 
			0 6px 0 #333, 
			/*0 7px 0 #444, 
			0 8px 0 #333, */
			0 7px 5px #302314; font-size:3em; color:#795100; 
			font-weight: 600;}


	
h6	{ text-shadow: 2px 2px #c0c0c0; font-size:2em; color:#000000; font-weight: 600;}		
h7	{ text-shadow: 1px 1px 2px black, 0 0 1em #c0c0c0, 0 0 0.2em #c0c0c0; font-size:2em; color:#000000; font-weight: 600;}
	

/*-- ..........i.e. <div class="top">  ========== --*/


{  }
{  }
{  }
{  }
.top > * {
  vertical-align: top;
}
.middle > * {
  vertical-align: middle;
}

.top > * {
  vertical-align: top;
}

/*-- ..........i.e. <div class="top">  ========== --*/
			
{  }
{  }
{  }
{  }
{  }
h4, h2, p.b	{font-style: italic;}
h4, p.b		{line-height: 100%}
h4, p.b		{margin-bottom: 0em}

i, cite, em 				{font-style: italic}


h2, h3, h4, h5, h6, p				{text-align: left }
					
img					{border-color:#3f5582;}

td			{vertical-align: text-top;}
td.a   			{border-radius: 20px;}

a:link 	{ color: #445E06; text-decoration: none; font-weight: 600;}       /* unvisited link */
a:visited	{ color: #243B0B; text-decoration: none;}       /* visited links */
a:hover   { color: #1C1C1C; text-decoration: none;}
a:active 	{ color: #122A0A; text-decoration: none;}       /* active links */

body {margin:3%; padding:0}

	/* div tag for header jpg  */
div.static {position: absolute; left: 50px; top: 0px;}

div.eltlogo {position: absolute; left: 45px; top: 40px;}

	/* Image <img class="z" .....> */
img.z {
    transition:transform 0.25s ease;
}

img.z:hover {
    -webkit-transform:scale(3);	 /* or some other value */
    transform:scale(1.7);
}

	/* Image align centre */
img.center
 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


div.nav {
    position: fixed;
    top: -7px;
    left: 42px;
    height: 300px;
    width: 100%;
    z-index: 99;
}

	/* Image <img class="z" .....> */
.z {
    transition:transform 0.25s ease;
}

.z:hover {
    -webkit-transform:scale(3); /* or some other value */
    transform:scale(1.7);
}