h2, p 						{ margin-bottom: 1em }
h2, p 						{ margin-top: 1em }
{font-family:  times new roman, roman, helvetica, sans, Arial}
h1, h2, h3, h6, p, h4,H5		{font-family:  verdana,sans-serif,  }

div.a {line-height: 1.6;}

h1, h2, h3, h4, h5, h6, b, strong, i, em, u, cite, var, tt, code, kbd, samp, img, span, p, table, object	{display: inline;}

h1, h2, h3, h4, b, h5	{font-weight: bolder} 
p 					    {font-weight: bold} 

h1, h2, h6, h3				{font-style: normal}
p, h4, h5					{font-style: normal}
	
h1,  h4, h6,  p 	{color:#424242}
h2, h3				{color:#2E2E2E}
h5					{color:#ccffff}

h6					{font-size:18pt;}
h3 		    	 	{font-size:20pt;}
h2 			 	   	{font-size:13pt;}
p 					{font-size:18pt;}
h5					{font-size:8pt;}					

i, cite, em 				{font-style: italic}

h1, h5					{text-align: center }
h2, h3, h4, p				{text-align: justify }
					
img					{border-color:#3f5582;}

a:link 		{ color: #1e3149 }      /* unvisited link */
a:visited	{ color: #1e3149 }       /* visited links */
a:hover      { color: #4F7ED3 }
a:active 	{ color: #1e3149 }   	 /* active links */
<!-- a {text-decoration:none}//-->