h2, h3, h4, h5 						{ margin: .2em 0 }


h1, h2, h3, h6, h4, h5		{font-family:  verdana,sans-serif,  }

div.a {line-height: 1.6;}

p.b, h1, h2, h4, b, strong, i, em, u, cite, var, tt, code, kbd, samp, img, span, table, object	{display: inline;}


h1, h3, h4, b, h5	{font-weight: bolder} 

p, h2 {font-weight: 500;}


	
h1,  h3, h4, h5, h6  		{color:#353535}
p, ul, h2			{color:#424242}



h5			{font-size:2em;}
h4			{font-size:1.8em;}
h3 			{font-size:1.7em;}
h2 			{font-size:1.7em;}
h1			{font-size:1.4em;}
p, p.b  	{font-size:1.7em;}
				

			p {font-family: "georgia";}			
	
<!-- ..........i.e. <div class="top">  ========== -->


{  }
{  }
{  }
{  }
.top > * {
  vertical-align: top;
}
.middle > * {
  vertical-align: middle;
}

.top > * {
  vertical-align: top;
}
<!-- ..........i.e. <div class="top">  ========== -->
			
{  }
{  }
{  }
{  }
{  }
h4, h2, p.b	{font-style: italic;}
h4, p.b		{line-height: 100%}
h4, p.b		{margin-bottom: 0em}

i, cite, em 				{font-style: italic}


h2, h3, h4, h5, h6, p				{text-align: left }
					
img					{border-color:#3f5582;}

td			{vertical-align: text-top;}

a:link 		{ color: #445E06}      /* unvisited link */
a:visited	{ color: #243B0B}       /* visited links */
a:hover      { color: #1C1C1C}
a:active 	{ color: #122A0A}   	 /* active links */

body {margin:50;padding:0}






<!-- a {text-decoration:none}//-->

<!-- 
#menu {

  position: fixed;

  height: 60px;

  width: 100%;

  top: 0;

  left: 0;

  border-top: 5px solid #a1cb2f;

  background: #fff;

  -moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);

  -webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);

  box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);

  z-index: 999999;

}

 

.w {

  width: 100%;

  margin: 0 auto;

  margin-bottom: 40px;

}<br type="_moz">{  }

div.static {position: absolute; left: 10px; top: 0px;}

